<h1>Admin Dashboard</h1>
<%= render partial: "admin_nav" %>
<table>
  <thead>
    <th>Name</th>
    <th>Twitter Handle</th>
    <th>Location</th>
    <th>Writer's Website</th>
  </thead>
  <tbody>
    <% @writers.each do |writer| %>
      <tr>
        <td><%= writer.full_name %></td>
        <td><%= writer.twitter %></td>
        <td><%= writer.location %></td>
        <td><%= link_to 'Website', writer_path(writer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>