<h1><%= @writer.full_name %>'s Profile</h1>
<h3>Twitter Handle: <%= @writer.twitter %></h3>
<h3>Location: <%= @writer.location %></h3>
<h3>About Me</h3>
<p><%= @writer.bio %></p>
<h4><%= link_to 'Edit', edit_writer_path(@writer) %></h4>