
<%= render partial: "admin_nav" if (user_signed_in? && current_user.is_admin?) %>



</div>

</nav>


<section class="hero">
  <h2> <%= image_tag("thieves_guild_logo.png", class:"logo") %></h2>
</section>

<section class ="about">

<%= image_tag @writer.user.avatar.url, class: "pic" %>

<h3 class="location"><%= @writer.location %></h3>
<p class="bio"><%= @writer.bio %></p>

 <%= link_to image_tag("Twitterbird.png", class:"social-link"), @writer.twitter %>





</section>

<section class="story">


<h3>Stories</h3>


    <div class="row">
<% @stories.each do |story| %>
  <div class="medium-6 columns color">
    <h4 class="gray"><%= link_to story.title, writer_story_path(@writer, story), class:"gray" %></h4>
  <p><%= story.summary %></p>
  </div>
  <% end %>
  </div>

</section>

<footer></footer>
