<% if current_user.state == 'No actions taken' then %>
  <p>You will need to complete your profile before continuing</p>
  <%= link_to 'Edit Writer Profile', edit_writer_path(@writer) %>
<% else %>

<%= render partial: "writer_nav"%>

<div class = "writersfield"></div>

  <div class ="row space">
  <div class="small-6 large-centered small-centered medium-centered columns">

    <ul class="accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item active" data-accordion-item>
    <%= link_to 'My Goals', writer_writer_goals_path(current_user.writer), class: "accordion-title fontsize" %>
      <div class="accordion-content" data-tab-content>
        While loop goals
      </div>
    </li>
  </ul>

  <ul class="accordion" data-accordion data-allow-all-closed="true">
  <li class="accordion-item active" data-accordion-item>
      <%= link_to 'My Activities', writer_activities_path(current_user.writer), class: "accordion-title fontsize" %>
    <div class="accordion-content" data-tab-content>
      while loop Activities
    </div>
  </li>
</ul>

<ul class="accordion" data-accordion data-allow-all-closed="true">
<li class="accordion-item active" data-accordion-item>
  <a href="#" class="accordion-title fontsize">Current Story</a>
  <div class="accordion-content" data-tab-content>
    <% if @latest_story %>
      <h3><%= @latest_story.title %></h3>
      <p><%= @latest_story.summary %></p>
      <%= link_to 'Edit', writer_story_path(@writer, @latest_story) %> |
      <%= link_to 'All Stories', writer_stories_path(@writer) %>
    <% else %>
      <h3>Time to write a story!</h3>
      <%= link_to 'New', new_writer_story_path(@writer) %>
    <% end %>
  </div>
</li>
</ul>

<ul class="accordion" data-accordion data-allow-all-closed="true">
<li class="accordion-item active " data-accordion-item>
  <a href="#" class="accordion-title fontsize">Latest Blog Post</a>
  <div class="accordion-content" data-tab-content>
    will loop through blog post
  </div>
</li>
</ul>


<!--  <h1><%= @writer.full_name %>'s Wall</h1> -->



<% end %>

</div>
</div>
