
<% if current_user.state == 'No actions taken' then %>
  <p>You will need to complete your profile before continuing</p>
  <%= link_to 'Edit Writer Profile', edit_writer_path(@writer) %>
<% else %>


	<%= render partial: "writer_nav"%>

<div class = "writersfield"></div>


  <div class ="row space">
  <div class="small-6 large-centered small-centered medium-centered columns">



  <h1><%= @writer.full_name %>'s Wall</h1>
  <h2>Goals</h2>
  <%= link_to 'My Goals', writer_writer_goals_path(current_user.writer) %>
  <h2>Activities</h2>
  <%= link_to 'My Activities', writer_activities_path(current_user.writer) %>
  <h2>Current Story</h2>
  <h3><%= @latest_story.title %></h3>
  <p><%= @latest_story.summary %></p>
  <%= link_to 'Edit', writer_story_path(@writer, @latest_story) %>
  <h2>Latest Blog Post</h2>

<% end %>

</div>
</div>
