<h1><%= @story.title %></h1>

<h2>Summary</h3>
<p><%= @story.summary %></p>

<h3>Body</h3>
<p><%= @story.body %></p>
<h4>Created at: <%=@story.created_at %>, Published at: <%=@story.date_time_published %> </h4>


