<% if user_signed_in? then %>
  <% if current_user.try(:role) == "writer" then %>
    <% @writer = Writer.find_by_user_id(current_user.id) %>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">"writer's logo"</li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><%= link_to 'Write on Your Wall', wall_writer_path(@writer) %></li>
          <li><%= link_to 'Edit Your Profile', edit_user_registration_path(current_user) %></li>
          <li><%= link_to 'Edit Your Details', edit_writer_path(@writer) %></li>
          <li><%= link_to 'View Your Progress', writer_goals_path(@writer) %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %> </li>
        </ul>
      </div>
    </div>
  <% elsif current_user.try(:role) == "admin" then %>
    <div class="top-bar">
      <div class="top-bar-left">
        Admin Dashboard
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><%= link_to 'Dashboard', writers_path %></li>
          <li><%= link_to 'Edit Your Profile', edit_user_registration_path(current_user) %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %> </li>
        </ul>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="top-bar">
    <div class="top-bar-left">
      Write on Your Wall - A Place for Writers
    </div>
    <div class="top-bar-right">
      <%= link_to 'Login', new_user_session_path %>
    </div>
  </div>
<% end %>