<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "WritersWebsite" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit User Information', edit_user_registration_path %> |
      <%= link_to 'Edit Writer Profile', edit_writer_path(current_user.writer) %> | 
      <%= link_to 'Wall', wall_path(current_user) %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <%= render partial: 'logged_in_header' %>
    <% else %>
      <%= render partial: 'logged_out_header' %>
    <% end %>

    <%= yield %>

  </body>
</html>
